<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AnyCompany.Properties.Settings.cn_Orders" connectionString="Data Source=(local);Database=Orders;User Id=admin;Password=password;" />
        <add name="AnyCompany.Properties.Settings.cn_Customers" connectionString="Data Source=(local);Database=Customers;User Id=admin;Password=password;" />
    </connectionStrings>
</configuration>